{{ $dest := .Destination | safeURL }}
{{ $id := "" }}
{{ if hasPrefix $dest "https://www.youtube.com/watch?v=" }}
  {{ $id = index (split (replace $dest "https://www.youtube.com/watch?v=" "") "&") 0 }}
{{ else if hasPrefix $dest "https://youtube.com/watch?v=" }}
  {{ $id = index (split (replace $dest "https://youtube.com/watch?v=" "") "&") 0 }}
{{ else if hasPrefix $dest "https://youtu.be/" }}
  {{ $id = index (split (replace $dest "https://youtu.be/" "") "?") 0 }}
{{ end }}
{{ if and $id (gt (len $id) 0) }}
<div class="video-embed video-embed--youtube">
  <iframe src="https://www.youtube.com/embed/{{ $id }}" title="YouTube video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{{ else }}
  <a href="{{ $dest }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{ end }}
